<app-page-header pageName="Skill Assessment"/>
<div class="container pt-4">
  <div class="row">
    <div class="col">
      <p class="font-weight-medium text-4-5 line-height-5">Evaluate and enhance your team’s capabilities with our skill
        assessments. Designed to identify areas of improvement, our tests help you make informed decisions about
        training and development needs.
      </p>
      <p class="text-3-5">Our Online CBT Solution meets the needs of large corporates, Human resource firms, Consulting
        firms, Recruitment agencies and every organization that wants to test many people across several locations.
      </p>
    </div>
  </div>

  <div class="row justify-content-center gy-5 py-3">
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Accurately assess skills and competencies.</strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Support effective workforce planning and optimization.</strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Variety of test formats including multiple choice and performance-based questions.</strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Instant feedback and comprehensive reporting.</strong>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-4 mb-5 pb-4">
    <div class="col">
      <div class="accordion accordion-modern-status accordion-modern-status-borders">
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                1 - Multiple choice.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                2 - True/False.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                3 - Calculated responses
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                4 - Drag and drop.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                5 - Fill in the gap.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                6 - Essay.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                7 - Short answers.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                8 - Multiple attempts.
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
