.header-body.sticky {
  position: fixed;
  top: -53px;
  background-color: #fff !important;
}

.btn.btn-modern {
  padding: .8rem 1.5rem;
  border-width: 2px;
  font-weight: 600;
}

.mobile-menu {
  transition: opacity .2s;
}

