<footer class="position-relative bg-dark border-top-0 mt-0" id="footer">
  <div class="container pt-5 pb-3">
    <div class="row pt-5">
      <div class="col-lg-6 mb-5-5">
        <a class="text-decoration-none" href="#">
          <img alt="Leatra" class="img-fluid mb-4" src="/assets/images/logo.png" width="125"/>
        </a>
        <p class="text-3-5 font-weight-medium pe-lg-2 text-grey-500">Partner with us and let us build the future
          together.</p>
        <ul class="list list-unstyled">
          <li class="d-flex align-items-center mb-4">
            <i class="fa fa-envelope text-color-light text-5 font-weight-bold position-relative top-1 me-3-5"></i>
            <a
              class="d-inline-flex align-items-center text-decoration-none text-color-light text-color-hover-primary font-weight-semibold text-4-5"
              href="mailto:info@leatra.com"><span
              class="__cf_email__">info&#64;leatra.com</span></a>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="fa fa-phone text-color-light text-5 font-weight-bold position-relative top-1 me-3-5"></i>
            <a
              class="d-inline-flex align-items-center text-decoration-none text-color-light text-color-hover-primary font-weight-semibold text-4-5"
              href="tel:+2348081685698">+234
              8081 685 698</a>
          </li>
        </ul>
        <ul class="social-icons social-icons-clean social-icons-medium">
          <li class="social-icons-facebook">
            <a href="https://www.facebook.com/leatraltd" target="_blank" title="Facebook">
              <i class="fab fa-facebook-f text-color-light"></i>
            </a>
          </li>
          <li class="social-icons-twitter">
            <a href="https://www.x.com/leatraltd" target="_blank" title="Twitter">
              <i class="fa-brands fa-x-twitter text-color-light"></i>
            </a>
          </li>

          <li class="social-icons-instagram">
            <a href="https://www.instagram.com/leatraltd" target="_blank" title="Instagram">
              <i class="fab fa-instagram text-color-light"></i>
            </a>
          </li>
          <li class="social-icons-linkedin">
            <a href="https://www.linkedin.com/leatraltd" target="_blank" title="Linkedin">
              <i class="fab fa-linkedin text-color-light"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="row ">
          <div class="mb-4 mb-lg-0">
            <h4 class="text-color-light font-weight-bold mb-3">Navigation</h4>
            <ul class="list list-unstyled columns-lg-2">
              <li><a class="text-grey-500 text-color-hover-primary" href="#">Home</a></li>
              <li><a class="text-grey-500 text-color-hover-primary" routerLink="about-us">About Us</a></li>
              <li><a class="text-grey-500 text-color-hover-primary" routerLink="our-services">Our Services</a></li>
              <li><a class="text-grey-500 text-color-hover-primary" routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-transparent">
    <div class="container">
      <hr class="bg-color-light opacity-1">
      <div class="row">
        <div class="col mt-4 mb-4 pb-5">
          <p class="text-center text-3 mb-0 text-grey-500">Leatra © {{ today | date: 'yyyy' }}. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
