<app-page-header pageName="Corporate Training"/>
<div class="container pt-4">
  <div class="row">
    <div class="col">
      <p class="font-weight-medium text-4-5 line-height-5">Leatra offers flexible, cost-effective, customized training
        solutions to SMEs, large corporations and government agencies.
      </p>
      <p class="text-3-5">We provide business professionals with the skills
        and knowledge necessary to increase work performance; and drive greater return on investment for the global
        customers we support.</p>
    </div>
  </div>

  <div class="row justify-content-center gy-5 py-3">
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Customized Corporate
          Solutions.</strong>
        </li>
      </ul>
      <p>Tailor your training experience with our customized corporate solutions. We collaborate with you to develop
        programs that align perfectly with your organizational goals and employee development plans.</p>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Leadership
          Training.</strong>
        </li>
      </ul>
      <p>Empower your leaders with the skills they need to excel in today's fast-paced world. Our leadership training
        programs are designed to enhance decision-making abilities, inspire teams, and foster an environment of growth
        and innovation.</p>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Business Training.</strong>
        </li>
      </ul>
      <p>Strengthen your core business competencies with our specialized training programs. From operational management
        to customer engagement, our courses cover essential aspects to enhance your business operations and
        profitability.</p>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Team Building
          Training</strong>
        </li>
      </ul>
      <p>Strengthen your team's cohesion and effectiveness with Leatra’s Team Building Training. Our specialized
        programs are designed to enhance collaboration, communication, and trust among team members, fostering a
        positive and productive work environment. Through innovative activities and facilitated sessions, we help teams
        align their goals, improve interpersonal relationships, and increase overall team performance.</p>
    </div>
  </div>

  <div class="row mt-4 mb-5 pb-4">
    <div class="col">
      <div class="accordion accordion-modern-status accordion-modern-status-borders">
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                1 - In-depth needs assessment to ensure relevance and effectiveness.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                2 - Expert facilitators and resources tailored to your industry.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                3 - Training solutions that reflect your company's culture and objectives.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                4 - Scalable programs suitable for all sizes of organizations.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                5 - Enhance customer satisfaction and loyalty.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                6 - Streamline processes and increase efficiency.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                7 - Boost overall business performance and sustainability.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                8 - Improve communication and interpersonal relations.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                9 - Develop strategic thinking and problem-solving skills.
              </a>
            </h4>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-header">
            <h4 class="card-title m-0">
              <a class="accordion-toggle text-color-dark font-weight-bold text-decoration-none">
                10 - Cultivate resilience and adaptability in leadership roles.
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
