<app-page-header pageName="Contact Us"/>
<!--<div class="container-fluid pb-3">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <ul class="list list-icons list-icons-style-2 list-icons-lg d-flex justify-content-center gap-5">-->
<!--        <li class="text-3 font-weight-medium mb-1 line-height-5 mb-2">-->
<!--          <i class="fa fa-phone icons border-width-2 text-3"></i>+234 8081 685 698-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <ul class="list list-icons list-icons-style-2 list-icons-lg d-flex justify-content-center gap-5">-->
<!--        <li class="text-3 font-weight-medium mb-1 line-height-5">-->
<!--          <i class="icons fa fa-envelope border-width-2 text-3"></i>-->
<!--          <a class="p-relative top-5" href="mailto:info@leatra.com">info&#64;leatra.com</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="map"></div>-->
