<app-header/>
<div class="main">
  <app-page-header pageName="About Us"/>

  <div class="container pt-4 pb-5 mb-5">
    <div data-aos="fade-up" class="row">
      <div class="col">
        <p class="font-weight-medium text-4-5 line-height-5">
          Welcome to Leatra Learning and Development, your partner in bridging the skill gap and fostering professional
          growth. At Leatra, we are dedicated to empowering individuals and organizations across Africa through
          targeted, high-impact training programs. We help organisations to transform potential into performance,
          equipping you
          with the tools you need to succeed in today's dynamic business landscape.
        </p>
        <p class="text-3-5">
          Whether you're looking for the most comprehensive training programs to improve performance, or a complete
          solution for integrating training solutions for your business, Leatra offers endless possibilities for
          learners, educators, and business partners.
        </p>
      </div>
    </div>

    <div data-aos="fade-up" class="row justify-content-center gy-5 py-3">
      <div class="col-lg-6">
        <ul class="list list-icons list-icons-style-2 list-icons-lg">
          <li class="line-height-9 text-3-5 mb-1">
            <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">OUR MISSION</strong>
          </li>
        </ul>
        <p>To build the right talent for Africa for sustainable development</p>
      </div>
      <div class="col-lg-6">
        <ul class="list list-icons list-icons-style-2 list-icons-lg">
          <li class="line-height-9 text-3-5 mb-1">
            <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">OUR VISION</strong>
          </li>
        </ul>
        <p>To become Africa's most loved learning and development partner</p>
      </div>
    </div>

    <div data-aos="fade-up" class="row pt-5 pb-5 align-items-center">
      <div class="col-lg-6 text-center p-relative pt-5">

        <div class="appear-animation custom-element-wrapper custom-element-9 animated expandIn appear-animation-visible"
             data-appear-animation="expandIn" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
          <div class="bg-color-primary particle particle-dots w-100 h-100 opacity-3"></div>
        </div>

        <div
          class="appear-animation custom-element-wrapper custom-element-10 animated expandIn appear-animation-visible"
          data-appear-animation="expandIn" data-appear-animation-delay="1200" style="animation-delay: 1200ms;">
          <div class="bg-color-primary particle particle-dots w-100 h-100 opacity-3"></div>
        </div>

        <div
          class="appear-animation custom-element-wrapper custom-element-11 p-relative rotate-r-45 animated fadeIn appear-animation-visible"
          data-appear-animation="fadeIn" data-appear-animation-delay="300" style="animation-delay: 300ms;">
          <img class="img-fluid" ngSrc="/assets/images/generic/generic-6.jpg" alt="" height="340" width="340">
        </div>

      </div>
      <div class="col-lg-6 pt-5 mt-5 pt-lg-0 mt-lg-0">
        <div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn"
             data-appear-animation-delay="300" style="animation-delay: 300ms;">
          <p class="font-weight-medium text-4-5 line-height-5">We provide inspiration and the platform for continuous improvement as well as the tools to align education with skills
            needed in the workforce for improved business productivity. </p>
          <p class="text-3-5">We are fulfilled when you are equipped.</p>

          <ul class="list list-icons list-icons-style-2 list-icons-lg">
            <li class="line-height-9 text-3-5 mb-1">
              <i class="fas fa-check border-width-2 text-3"></i>Excellence
            </li>
            <li class="line-height-9 text-3-5 mb-1">
              <i class="fas fa-check border-width-2 text-3"></i>Innovation
            </li>
            <li class="line-height-9 text-3-5 mb-1">
              <i class="fas fa-check border-width-2 text-3"></i>Continuous Improvements
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-stat/>

  <app-testimonials/>
</div>
