<section class="page-header page-header-modern bg-color-quaternary p-relative">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
        <h1 class="text-color-dark font-weight-bold">{{ pageName }}</h1>
      </div>
      <div class="col-md-4 order-1 order-md-2 align-self-center">
        <ul class="breadcrumb d-flex justify-content-md-end text-3-5">
          <li><a routerLink="/" class="text-color-default text-color-hover-primary text-decoration-none">HOME</a></li>
          <li class="active">{{ pageName }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
