<app-page-header pageName="E-Learning"/>
<div class="container pt-4">
  <div class="row">
    <div class="col">
      <p class="font-weight-medium text-4-5 line-height-5">Adapt to the digital age with our comprehensive e-learning
        solutions. Our platform offers flexible, interactive learning opportunities that can be accessed from anywhere,
        at any time.
      </p>
      <p class="text-3-5">Our Online Learning Management System provides an “infrastructure” through which corporate organizations
        can develop interactive and engaging platforms for their employees and deliver effective skill-building and
        performance-enhancing training.
      </p>
    </div>
  </div>

  <div class="row justify-content-center gy-5 py-3">
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Enhance learning accessibility and convenience.</strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Foster a culture of continual professional development.</strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Reduce costs associated with traditional training methods.</strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Interactive content including videos, quizzes, and simulations.</strong>
        </li>
      </ul>
    </div>
  </div>

</div>
