<section class="section border-0 bg-dark m-0 p-relative">
  <div class="particles-wrapper z-index-1">
    <div id="particles-1"></div>
  </div>
  <div class="container py-5 p-relative z-index-2">
    <div class="row">
      <div class="col text-center">

        <div class="divider divider-small divider-small-lg mt-0 text-center" data-aos="fade-up">
          <hr class="bg-primary border-radius m-auto">
        </div>
        <div class="overflow-hidden mb-1">
          <h3
            class="font-weight-semi-bold text-color-grey text-uppercase positive-ls-3 text-4 line-height-2 line-height-sm-7 mb-0 "
            data-aos="fade-up">Company Stats</h3>
        </div>
        <h2 class="text-color-light font-weight-bold text-8 pb-4 mb-0" data-aos="fade-up">
          Learn More About Us In Numbers</h2>
      </div>
    </div>
    <div class="row pt-4 pb-3 counters text-light" data-aos="fade-up">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="counter">
          <strong data-to="500" data-append="+">150+</strong>
          <label class="font-weight-semibold text-4 opacity-7">Cases Completed</label>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="counter">
          <strong data-to="100" data-append="+">10</strong>
          <label class="font-weight-semibold text-4 opacity-7">Total Consultants</label>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-sm-0">
        <div class="counter">
          <strong data-to="100" data-append="%">25</strong>
          <label class="font-weight-semibold text-4 opacity-7">Satisfied Customers</label>
        </div>
      </div>
    </div>
  </div>
</section>
