<app-header/>
<div class="main">
  <app-page-header pageName="Our Services"/>
  <div class="container pt-4">
    <div class="row">
      <div class="col">
        <p class="font-weight-medium text-4-5 line-height-5">Organizations and society can only improve when individual
          behaviors change. Skills development has been recognized as a key component of Africa’s transformation and
          economic growth.</p>
        <p class="text-3-5">Leatra provides the catalyst. With our interactive, experiential and up-to-date learning and
          development programs, designed to optimize learning and enable immediate transfer of learning to behavior, we
          help individuals and organizations close the gap between training and performance.
        </p>
      </div>
    </div>
    <div class="row py-5" data-aos="fade-up">
      <div class="col-lg-3 col-md-6 mb-4">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" ngSrc="/assets/images/icons/training-classroom.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">Corporate Trainings</h4>
              <p class="card-text text-3-5">Innovative and practical learning model that reduce learning
                resistance.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/corporate-training"
                 title="Read more about corporate training">Corporate training <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" ngSrc="/assets/images/icons/e-learning-monitor-1.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">E-learning Solution</h4>
              <p class="card-text text-3-5">Access to courses from anywhere, anytime and on the go.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/e-learning"
                 title="Read more about our e-learning solution">E-learning <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" ngSrc="/assets/images/icons/skill-15.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">Skill Assessment </h4>
              <p class="card-text text-3-5">Platform for hassle-free skill assessment and screening for
                organizations.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/skill-assessment"
                 title="Read more about our skill assessment solution">Skill assessment <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" ngSrc="/assets/images/icons/quality-assurance-16.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">Quality Assurance </h4>
              <p class="card-text text-3-5">Cut through the noise and focus on the things that matter.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/quality-assurance"
                 title="Read more about our quality assurance for contact center">Quality assurance <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col pb-5">
        <p class="text-3-5">Whether you're looking for the most comprehensive training programs to further your career,
          or a complete solution for integrating training solutions for your business, Leatra offers endless
          possibilities for learners, educators, and business partners.</p>
      </div>
    </div>
  </div>
</div>

