<app-page-header pageName="Quality Assurance"/>
<div class="container pt-4">
  <div class="row">
    <div class="col">
      <p class="font-weight-medium text-4-5 line-height-5">Elevate your contact center's performance with Leatra's
        Quality Assurance services. Our expert-driven approach ensures that your customer service teams deliver
        consistently excellent customer experiences, adhering to the highest standards of communication and
        effectiveness.
      </p>
      <p class="text-3-5">Leatra's Quality Assurance services for contact centers are designed to ensure that every
        customer interaction is a testament to your organization's commitment to excellence. By prioritizing quality and
        customer satisfaction, we help you build stronger relationships and a more reliable brand reputation.
      </p>
    </div>
  </div>

  <div class="row justify-content-center gy-5 py-3">
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Customer Satisfaction
          Analysis.</strong>
        </li>
      </ul>
      <p>Tools and methodologies to measure customer satisfaction levels and understand their service experience and
        insights into customer preferences and expectations to guide service enhancements.</p>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Agent Performance
          Audits.</strong>
        </li>
      </ul>
      <p>Regular, detailed evaluations of each agent's interactions to ensure compliance with best practices and company
        policies with specific feedback and targeted training recommendations based on audit findings.</p>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Process Optimization.</strong>
        </li>
      </ul>
      <p>Continuous assessment and optimization of workflows and communication strategies. Implementation of best practices to increase efficiency and effectiveness.</p>
    </div>
    <div class="col-lg-6">
      <ul class="list list-icons list-icons-style-2 list-icons-lg">
        <li class="line-height-9 text-3-5 mb-1">
          <i class="fas fa-check border-width-2 text-3"></i><strong class="text-color-dark">Technology Utilization.</strong>
        </li>
      </ul>
      <p>Leveraging cutting-edge technology to enhance monitoring and reporting capabilities.</p>
    </div>
  </div>

</div>
