<section class="section border-0 bg-quaternary m-0" id="services">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col col-lg-9 text-center">

        <div class="divider divider-small divider-small-lg mt-0 text-center" data-aos="fade-up">
          <hr class="bg-primary border-radius m-auto">
        </div>
        <div class="overflow-hidden mb-1">
          <h3
            class="font-weight-semi-bold text-color-grey text-uppercase positive-ls-3 text-4 line-height-2 line-height-sm-7 mb-0 "
            data-aos="fade-up">How We Can Help</h3>
        </div>
        <h2 class="text-color-dark font-weight-bold text-8 pb-4 mb-0" data-aos="fade-up">Our Amazing Services</h2>

        <p class="font-weight-medium text-4-5 line-height-5" data-aos="fade-up">Discover our
          tailored services designed to elevate your skills. Leatra — where growth meets excellence.</p>
      </div>
    </div>

    <div class="row py-5" data-aos="fade-up">
      <div class="col-lg-3 col-md-6 mb-4" id="corporate-trainings">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" src="/assets/images/icons/training-classroom.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">Corporate Trainings</h4>
              <p class="card-text text-3-5">Innovative and practical learning model that reduce learning
                resistance.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/corporate-training"
                 title="Read more about our corporate training service">Corporate training <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4" id="e-learning">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" src="/assets/images/icons/e-learning-monitor-1.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">E-learning Solution</h4>
              <p class="card-text text-3-5">Access to courses from anywhere, anytime and on the go.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/e-learning"
                 title="Read more about our e-learning service">E-learning <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" id="skill-assessment">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" src="/assets/images/icons/skill-15.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">Skill Assessment </h4>
              <p class="card-text text-3-5">Platform for hassle-free skill assessment and screening for
                organizations.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/skill-assessment"
                 title="Read more about our skill assessment service">Skill assessment <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" id="quality-assurance">
        <div
          class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
          <div class="card-body p-relative zindex-1 p-5 text-center">
            <div class="anim-hover-inner-translate-top-20px transition-3ms">
              <img alt="" height="73" src="/assets/images/icons/quality-assurance-16.svg" width="72"/>
              <h4 class="card-title mt-4 mb-2 text-5 font-weight-bold">Quality Assurance </h4>
              <p class="card-text text-3-5">Cut through the noise and focus on the things that matter.</p>
            </div>
            <div
              class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
              <a class="read-more text-color-primary font-weight-semibold mt-2 text-2"
                 routerLink="/our-services/quality-assurance"
                 title="Read more about quality assurance for contact centers">Quality assurance <i
                class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-lg-9 text-center">

        <div class="d-block pt-4" data-aos="fade-up">
          <a
            class="btn btn-modern btn-primary btn-arrow-effect-1 text-capitalize text-2-5 px-5 py-3 anim-hover-translate-top-5px transition-2ms"
            routerLink="our-services">Learn
            More <i class="fas fa-arrow-right ms-2"></i></a>
        </div>

      </div>
    </div>
  </div>
</section>
