<section class="section border-0 bg-quaternary m-0 pb-0">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col col-lg-9 text-center">

        <div class="divider divider-small divider-small-lg mt-0 text-center" data-aos="fade-up">
          <hr class="bg-primary border-radius m-auto">
        </div>
        <div class="overflow-hidden mb-1">
          <h3
            class="font-weight-semi-bold text-color-grey text-uppercase positive-ls-3 text-4 line-height-2 line-height-sm-7 mb-0"
            data-aos="fade-up">What They Say About Us</h3>
        </div>
        <h2 class="text-color-dark font-weight-bold text-8 pb-4 mb-0" data-aos="fade-up">Testimonials</h2>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col" data-aos="fade-up">

        <div class="animate__animated animate__fadeInUp carousel-container">
          <owl-carousel-o #testimonials [options]="testimonialOptions">
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">Feedback from participants indicate
                      that it was a great experience for them and they learnt a lot.</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle"
                           src="/assets/images/brands/interswitch_small.png">
                    </div>
                    <p><strong class="font-weight-extra-bold">Interswitch</strong><span></span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">The participants said that they were
                      particularly pleased with the training methodologies used, the balance of games and activities
                      and high level of interaction during the training sessions.</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>

                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" src="/assets/images/brands/GTBank.png">
                    </div>
                    <p><strong class="font-weight-extra-bold">GTBank</strong><span></span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">It was such an exciting and
                      insightful experience! New insight to old knowledge. <br/>Well done.</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Oluwasewasimilara Oluyemi</strong><span>Service Desk Analyst</span>
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">How can one make teaching look so
                      easy? It was an impactful session and you did extremely beautiful. <br/>More grease!!!</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Victoria Adebayo
                    </strong><span>Service Desk Analyst</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">I had fun all the way. I appreciate
                      the method used during the training.</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Idongesit Essienobong
                    </strong><span>Core services B2B</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">Right words, simple but great
                      illustrations and I enjoyed every bit.</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Mistura Ayinde
                    </strong><span>Service Desk Analyst</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">I was inspired to be better and do
                      better. His teaching skills are top notch. There is no end to learning indeed. <br/>Highly
                      recommended</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Daniel Daniel
                    </strong><span>Operations Team Lead</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">The facilitator was vast and
                      explanatory and his way of impacting knowledge using life experiences as examples</p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" src="/assets/images/brands/GTBank.png">
                    </div>
                    <p><strong class="font-weight-extra-bold">GTB
                    </strong><span>Customer Service Executive</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">
                      A very impactful training. It reminded me that becoming my customer's hero is beyond thoughts,
                      it is a deliberate action. It is a lifestyle.
                    </p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Yinyinsola Fasina (AICRM)
                    </strong><span>Service Desk Analyst</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">
                      The fact that is was employee-centered and the mixture of learning activities. Even the play
                      period showed the value of team work
                    </p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" src="/assets/images/brands/GTBank.png">
                    </div>
                    <p><strong class="font-weight-extra-bold">GTB
                    </strong><span></span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">
                      The training was enlightening, educative, refreshing, and also created self awareness.
                    </p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" src="/assets/images/brands/GTBank.png">
                    </div>
                    <p><strong class="font-weight-extra-bold">GTB
                    </strong><span></span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">
                      One of the best trainings I have had so far. It was so educating anf exciting. Well done
                    </p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Elizabeth Adepoju
                    </strong><span>Service Desk Analyst</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="mx-3">
                <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                  <blockquote class="p-3 before-d-none">
                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">
                      Waoooo So impactful... Indeed, I have not recovered from the teachings. I'm more
                      customer-centric
                    </p>
                  </blockquote>
                  <div class="testimonial-arrow-down p-relative z-index-1"></div>
                  <div class="testimonial-author">
                    <div class="testimonial-author-thumbnail">
                      <img alt="" class="img-fluid rounded-circle" height="55" src="/assets/icons/user.png" width="55">
                    </div>
                    <p><strong class="font-weight-extra-bold">Adeyinka Oyekanmi
                    </strong><span>Service Desk Analyst</span></p>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
          <button (click)="prevTestimonial()" aria-label="Previous" class="custom-prev-btn">
            <svg class="feather feather-chevron-left" fill="none" height="24" stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="https://www.w3.org/2000/svg">
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
          </button>
          <button (click)="nextTestimonial()" aria-label="Next" class="custom-next-btn">
            <svg class="feather feather-chevron-right" fill="none" height="24" stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="https://www.w3.org/2000/svg">
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
